{% extends "base.html" %}

{% block title %} Регистрация {% endblock title %}

{% block content %}

    {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value=" Войти " />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<form name="form" id="form" class="form-horizontal" method="POST" action=".">
       {% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form.username }}
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{ form.password }}
        </div>

        <div class="form-group">

            <div class="col-sm-12 controls">

                <button type="submit" href="#" class="btn btn-primary ">Войти </button>
                <a href="{% url 'login' %}">Войти</a>
            </div>
        </div>

    </form>

{% endblock content %}

